/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.container{
  margin-top: 20px
}
.pagination{
  margin-left: 50px;
}
.pagination > li {
  padding:10px 20px;
  border: 1px solid #80808073;
}
.pagination > li.active {
  background: lightslategrey
}
.pagination > li.active > a  {
 color:white
}
table{
  margin: 20px;
  width: calc(100% - 40px)!important;
}
h3{
  margin-top: 20px !important
}